/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap')

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Navbar*/


/* BACKGROUND GRADIENTS */

/* Logo */

.draftDigital-gradient {
  background-color: #fff;
  background-image:
    radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%),
    radial-gradient(at 100% 60%, rgb(10, 93, 98) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient-bg-welcome {
    background-color:hsla(209,58%,20%,1);
    background-image:
    radial-gradient(at 56% 49%, hsla(209,57%,36%,1) 0px, transparent 50%),
    radial-gradient(at 77% 32%, hsla(209,56%,48%,1) 0px, transparent 50%),
    radial-gradient(at 91% 10%, hsla(209,56%,76%,1) 0px, transparent 50%);

}

.gradient-bg-services {
  background-color:hsla(209,58%,20%,1);
  background-image:

    radial-gradient(at 0% 44%, hsla(209,56%,12%,1) 0px, transparent 50%),
    radial-gradient(at 81% 56%, hsla(209,56%,36%,1) 0px, transparent 50%);
}

.gradient-bg-auditProcess {
  background-color: hsla(209,58%,20%,1);
  background-image:
    radial-gradient(at 4% 43%, hsla(209,57%,36%,1) 0px, transparent 50%);
}

.gradient-bg-audits {
  background-color: hsla(209,58%,20%,1);
  background-image:
    radial-gradient(at 41% 50%, hsla(209,56%,76%,1) 0px, transparent 50%),
    radial-gradient(at 94% 43%, hsla(209,57%,36%,1) 0px, transparent 50%);
}

.gradient-bg-contact {
  background-color: hsla(209,58%,20%,1);
  background-image:
    radial-gradient(at 49% 49%, hsla(167, 100%,28%, 1) 0px, transparent 50%),
    radial-gradient(at 94% 43%, hsla(209,57%,36%,1) 0px, transparent 50%);
}



.text-gradient {
  background-color: #fff;
  background-image:
    radial-gradient(at 4% 36%, hsla(209, 59%, 76%, 1) 0, transparent 53%),
    radial-gradient(at 70% 40%, hsla(209, 59%, 85%, 1) 0, transparent 50%),
    radial-gradient(at 100% 70%, hsla(208, 60%, 94%, 1) 0, transparent 50%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-glassmorphism {
  background: rgba(13, 31, 49, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image:
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

/* FRAMES */

.global-Padding {
  padding: 80px 2px 1px;
}

.frame-Superior {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 64px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding-left: 0;
  position: relative;
  width: 1px;
}



.framer-Services {
  display: grid;
  flex: none;
  gap: 16px;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding-left: 24rem;
  position: relative;
  width: 100%;
}


/* Footer */
.footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

.footer a {
  color: var(--color-bg);
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}

.footer__socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

.contact__container {
  flex: 0 0 auto;
  height: auto;
  position: relative;
  width: 400px;
}

/* Media-queries

/* Mobile phones or similar */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;